body{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.bg-gray{
    background: #edf0f5;
    padding-bottom: 10rem;
}
.row{
    height: 496px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
}
div.card{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}
.btn-primary{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}
input::placeholder{
    font-size: 16.3px;
}
.btn-success{
    background-color: #42b72a;
    border-color: #42b72a;
}
a.enlace{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
p.parrafo{
    text-align: center;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
div.uno img{
    height: 215px;
    margin: -30px;
}
div.uno h5{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
    width: 500px;
    margin-top: -40px;
    padding: 0 0 20px;
}
div.linea{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
footer{
    margin-bottom: 3rem;
}
footer ul{
    text-align: center;
    margin-top: 25px;
}
footer .nav-link{
    font-family: Helvetica, Arial, sans-serif;
    color: gray;
    font-size: 12px;
}
.error{
    color: #f02849;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-top: 8px;
    text-align: left;
}